@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Localizer.Get("Db.Movie.Genre.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new StartSharp6000.Movie.GenreGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>