.s-TranslationGrid input.custom-text {
  width: 100%;
}

.s-UserPermissionDialog > .size,
.s-RolePermissionDialog > .size,
.s-UserRoleDialog > .size {
    min-width: 770px;
    width: 770px;
    min-height: 550px;
    height: 550px;
}

.s-UserPermissionDialog .s-DataGrid,
.s-RolePermissionDialog .s-DataGrid,
.s-UserRoleDialog .s-DataGrid {
  height: 100%;
}
.s-Movie-MovieCastEditDialog > .size {
    width: 450px;
}

.s-Movie-MovieCastEditDialog .caption {
    width: 120px;
}

.s-Movie-MovieCastEditDialog .s-PropertyGrid .categories {
    height: 100px;
}
.s-Movie-PersonDialog .s-PersonMovieGrid > .grid-container {
    height: 186px;
}